.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../assets/banners/landing/landing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
        width: 202px;
    }
}

.sld {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 508px;
    background: black;

    .sld-content {
        width: 1077px;
        display: flex;
        justify-content: space-between;
        color: white;

        .sldc-left {
            width: 580px;

            h2 {
                margin-bottom: 20px;
                font-family: DXRigraf, sans-serif;
                font-size: 37px;
            }

            p {
                margin-bottom: 20px;
                font-family: neue-haas-grotesk-display, sans-serif;
            }
        }


    }
}

.purposeful-brands {
    height: 200vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .purposeful-brands-content {
        width: 1180px;

        h1 {
            text-align: center;
            font-family: DXRigraf, sans-serif;
            margin-top: 120px;
            margin-bottom: 80px;
        }
    }
}


@media only screen and (max-width: 540px) {
    .banner {
        display: flex;
        height: 100vh;
        background: url(../../assets/banners/landing/landingmobile.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        img {
            width: 128px;
        }
    }

    .sld {
        min-height: unset;

        .sld-content {
            width: 100%;
            padding: 25px;
            padding-bottom: 80px;
            flex-direction: column-reverse;
            align-items: center;

            .sldc-left {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2, p {
                    text-align: center;
                }

                h2 {
                    width: 325px;
                    margin: auto;
                    margin-bottom: 40px;
                }

                p {
                    letter-spacing: 0.15px;
                    line-height: 30px;
                    font-size: 18px;
                    margin-bottom: 35px;
                }
            }


            .sldc-right {
                margin-bottom: 60px;
                margin-top: 80px;
            }
        }

    }

    .purposeful-brands {
        .purposeful-brands-content {
            width: 100%;
            padding: 25px;

            h1 {
                margin-top: 80px;
                margin-bottom: 40px;
            }
        }
    }
}
