<app-header [isLogoVisible]="false"></app-header>

<!--Banner-->
<div class="banner">


</div>

<!--Strategy Led Design-->
<div class="sld">
    <div class="sld-content">
        <div class="sldc-left">
            <h2>Strategy led Design Agency</h2>
            <p class="bodybig">
                Crafting authentic expression of your brand, we explore the many ways in which your brand can exist and communicate with its audiences.
                We build memorable brand moments that help you differentiate from your contemporaries.
            </p>
            <button>
                <span>VIEW MORE</span>
                <img src="assets/icons/landing/view-more.svg">
            </button>
        </div>
        <div class="sldc-right">
            <img src="assets/icons/landing/sld.svg">
        </div>
    </div>

</div>

<!--Banner-->
<div class="seo-friendly">


</div>

<app-footer></app-footer>
