<app-header></app-header>


<!--Banner-->
<h2 class="page-header">
    SEO Friendly Heading
</h2>


<div class="category">
    <header>Brand Strategy</header>
    <header>Brand Identity</header>
    <header class="selected">Show all</header>
    <header>Print</header>
    <header>Environmental</header>
    <header>Website</header>
</div>


<div class="category">
    <header>Real Estate</header>
    <header>Entertainment</header>
    <header>Arts & Culture</header>
    <header>Architecture</header>
    <header>Healthcare</header>
    <header>Fashion & Beauty</header>
</div>


<div class="banners">
    <img src="assets/banners/work/banner.png">
    <img src="assets/banners/work/banner.png">
    <img src="assets/banners/work/banner.png">
    <img src="assets/banners/work/banner.png">
    <button>LOAD MORE</button>
</div>


<div class="spacing"></div>

<app-footer></app-footer>
