.page-header {
    display: flex;
    justify-content: center;
    margin-top: 135px;
    margin-bottom: 55px;
    font-family: DXRigraf, sans-serif;
}

.category {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;

    header {
        margin: 0 10.5px;
        font-family: "Big Shoulders Display", sans-serif;
        font-size: 24px;
        color: #BCBCBC;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.4s;
    }

    header:hover {
        color: black;
        transition: 0.4s;
    }

    .selected {
        color: black;
    }
}

.banners {
    width: 1178px;
    margin: auto;
    margin-top: 114px;

    img {
        margin-bottom: 15px;
        width: 100%;
    }

    button {
        margin: auto;
        margin-top: 65px;
        color: black;
    }

}

.spacing {
    margin-bottom: 100px;
}

