@import "src/styles";

.app-footer {
    min-height: 636px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .app-footer-content {
        width: 980px;
        display: flex;
        flex-direction: column;

        .contact-details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 110px;

            .left {
                width: 380px;
                display: flex;
                flex-direction: column;
                color: $white;

                h2 {
                    font-family: DXRigraf, sans-serif;
                    margin-bottom: 33px;
                }

                p {
                    font-family: neue-haas-grotesk-text, sans-serif;
                }
            }

            .right {
                display: flex;
                flex-direction: column;

                .input-item {
                    margin-bottom: 44px;
                    width: 380px;
                }
            }
        }

        .social-profile {
            display: flex;
            justify-content: space-between;
            width: 734px;
            margin: auto;
            margin-bottom: 42px;

            button {
                color: $dark-gray;
                font-family: 'Big Shoulders Display', sans-serif;
                font-weight: 800;
            }

        }

        .copyright {
            color: #5F5F5F;
            font-size: 10px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}


@media only screen and (max-width: 540px) {
    .app-footer {
        min-height: 1009px;

        .app-footer-content {
            width: 100%;
            padding: 25px;

            .contact-details {
                flex-direction: column;

                .left {
                    width: 100%;
                    margin-bottom: 89px;
                    text-align: center;
                }

                .right {
                    align-items: center;

                    .input-item {
                        width: 100%;
                    }
                }
            }

            .social-profile {
                width: 100%;
                flex-wrap: wrap;

                button {
                    width: 146px;
                    margin-bottom: 28px;
                }
            }
        }
    }
}
