<div class="app-footer">
    <div class="app-footer-content">
        <div class="contact-details">
            <div class="left">
                <h2>Say contact us in a nice way</h2>
                <p class="body1">
                    We are a strategy led design studio based out of Hyderabad, who offer creative solutions driven by
                    authentic insights.
                </p>
            </div>
            <div class="right">
                <div class="input-item">
                    <input placeholder="NAME">
                </div>

                <div class="input-item">
                    <input placeholder="EMAIL">
                </div>

                <div class="input-item">
                    <input placeholder="MESSAGE">
                </div>

                <button>
                    <span>SEND</span>
                    <img src="assets/icons/common/send.svg">
                </button>
            </div>
        </div>

        <div class="social-profile">
            <button>INSTAGRAM</button>
            <button>BEHANCE</button>
            <button>LINKEDIN</button>
            <button>TWITTER</button>
        </div>

        <div class="copyright">
            Copyright © 2020 STUDIO318india. All rights reserved.
        </div>
    </div>
</div>
