/* You can add global styles to this file, and also import other style files */
@import "app/shared/stylesheets/colors";
@import "app/shared/stylesheets/fonts";
@import "app/shared/stylesheets/input";
@import "app/shared/stylesheets/button";
@import "app/shared/stylesheets/pages";

html, body, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans';
}
